<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<form method="POST" action="/test_request/">

    <input type="text" name="k1"/>

    <div>
        <div><span><input type="checkbox" name="favor_int_val" value="1" checked="checked"></span><span>篮球</span></div>
        <div><span><input type="checkbox" name="favor_int_val" value="2"></span><span>足球</span></div>
        <div><span><input type="checkbox" name="favor_int_val" value="3" checked="checked"></span><span>乒乓球</span></div>
        <div><span><input type="checkbox" name="favor_int_val" value="4"></span><span>羽毛球</span></div>

    </div>
    <input  type="submit" value="Submit"/>
</form>

</body>
</html>